# comentário
.idea/
.vscode/

# configurações do ambiente remoto.
src/main/resources/application.properties
src/main/resources/validation.properties
src/main/resources/bootstrap.properties
src/main/resources/application.yml
src/main/resources/validation.yml
src/main/resources/bootstrap.yml

# comentário
gen/
target/
out/

# comentário
.mvn/
mvnw.cmd
mvnw

# comentário
HELP.md

# comentário.
*.iws
*.iml
*.ipr

